@page "/globalconfig/edit/{id?}"

<PageTitle>全局配置管理</PageTitle>
<Form Model="@_model">
    <Card Class="general-card">
        <TitleTemplate>
            <Icon Type="credit-card" Theme="outline" /> 基础参数
        </TitleTemplate>
        <Body>
            <Row>
                <AntDesign.Col Span="6">
                <FormItem Label="启用/禁用">
                    <RadioGroup @bind-Value="@context.Status">
                        <Radio Value="@(StatusEnum.Enable)">启用</Radio>
                        <Radio Value="@(StatusEnum.Disable)">禁用</Radio>
                    </RadioGroup>
                </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="6">
                <FormItem Label="基础域名">
                    <Input @bind-Value="@context.BaseUrl" Placeholder="请输入基础域名"></Input>
                </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="6">
                <FormItem Label="基础请求ID">
                    <Input @bind-Value="@context.RequestIdKey" Placeholder="请输入基础域名"></Input>
                </FormItem>
                </AntDesign.Col>
            </Row>
        </Body>

    </Card>

    <Card Class="general-card">
        <TitleTemplate>
            <Icon Type="credit-card" Theme="outline" /> 协议配置
        </TitleTemplate>
        <Body>
            <Row>
                <AntDesign.Col Span="6">
                    <FormItem Label="下游协议">
                        <Select @bind-Value="@context.DownstreamScheme"
                                TItemValue="string"
                                TItem="string"
                                DefaultActiveFirstOption="false"
                                Placeholder="请选择">
                            <SelectOptions>
                                <SelectOption TItemValue="string" TItem="string" Value="@("http")" Label="http" />
                                <SelectOption TItemValue="string" TItem="string" Value="@("https")" Label="https" />
                            </SelectOptions>
                        </Select>
                    </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="6">
                    <FormItem Label="http版本">
                        <Select @bind-Value="@context.DownstreamHttpVersion"
                                TItemValue="string"
                                TItem="string"
                                DefaultActiveFirstOption="false"
                                Placeholder="请选择">
                            <SelectOptions>
                                <SelectOption TItemValue="string" TItem="string" Value="@("1.0")" Label="1.0" />
                                <SelectOption TItemValue="string" TItem="string" Value="@("1.1")" Label="1.1" />
                                <SelectOption TItemValue="string" TItem="string" Value="@("1.2")" Label="1.2" />
                            </SelectOptions>
                        </Select>
                    </FormItem>
                </AntDesign.Col>
            </Row>
        </Body>

    </Card>

    <Card Class="general-card">
        <TitleTemplate>
            <Icon Type="credit-card" Theme="outline" /> 负载均衡
        </TitleTemplate>
        <Body>
            <Row>
                <AntDesign.Col Span="6">
                <FormItem Label="负载均衡类型">
                    <Select @bind-Value="@context.LoadBalancerOptions.Type"
                            TItemValue="string"
                            TItem="string"
                            DefaultActiveFirstOption="false"
                            Placeholder="请选择">
                        <SelectOptions>
                            <SelectOption TItemValue="string" TItem="string" Value="@("LeastConnection")" Label="LeastConnection" />
                            <SelectOption TItemValue="string" TItem="string" Value="@("RoundRobin")" Label="RoundRobin" />
                            <SelectOption TItemValue="string" TItem="string" Value="@("NoLoadBalancer")" Label="NoLoadBalancer" />
                            <SelectOption TItemValue="string" TItem="string" Value="@("CookieStickySessions")" Label="CookieStickySessions" />
                            <SelectOption TItemValue="string" TItem="string" Value="@("Custom Load Balancers")" Label="CustomLoadBalancers" />
                        </SelectOptions>
                    </Select>
                </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="6">
                <FormItem Label="负载均衡key">
                    <Input @bind-Value="@context.LoadBalancerOptions.Key" Placeholder="请输入负载均衡key"></Input>
                </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="6">
                <FormItem Label="负载均衡Expiry">
                    <Input @bind-Value="@context.LoadBalancerOptions.Expiry" Placeholder="请输入负载均衡Expiry"></Input>
                </FormItem>
                </AntDesign.Col>
            </Row>
        </Body>

    </Card>

    <Card Class="general-card">
        <TitleTemplate>
            <Icon Type="credit-card" Theme="outline" /> 服务发现
        </TitleTemplate>
        <Body>
            <Row>
                <AntDesign.Col Span="6">
                <FormItem Label="启用/禁用">
                    <RadioGroup @bind-Value="@context.ServiceDiscoveryProviderOptions.Enabled">
                        <Radio Value="@(true)" TValue="bool?">启用</Radio>
                        <Radio Value="@(false)" TValue="bool?">禁用</Radio>
                    </RadioGroup>
                </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="6">
                <FormItem Label="Http协议">
                    <Select @bind-Value="@context.ServiceDiscoveryProviderOptions.Scheme"
                            TItemValue="string"
                            TItem="string"
                            DefaultActiveFirstOption="false"
                            Placeholder="请选择">
                        <SelectOptions>
                            <SelectOption TItemValue="string" TItem="string" Value="@("http")" Label="http" />
                            <SelectOption TItemValue="string" TItem="string" Value="@("https")" Label="https" />
                        </SelectOptions>
                    </Select>
                </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="6">
                <FormItem Label="服务发现站点">
                    <Input @bind-Value="@context.ServiceDiscoveryProviderOptions.Host" Placeholder="请输入服务发现站点"></Input>
                </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="6">
                <FormItem Label="服务发现端口">
                    <Input @bind-Value="@context.ServiceDiscoveryProviderOptions.Port" Placeholder="请输入服务发现端口"></Input>
                </FormItem>
                </AntDesign.Col>
            </Row>
            <Row>
                <AntDesign.Col Span="6">
                <FormItem Label="服务发现类型">
                    <Select @bind-Value="@context.ServiceDiscoveryProviderOptions.Type"
                            TItemValue="string"
                            TItem="string"
                            DefaultActiveFirstOption="false"
                            Placeholder="请选择">
                        <SelectOptions>
                            <SelectOption TItemValue="string" TItem="string" Value="@("Consul")" Label="Consul" />
                            <SelectOption TItemValue="string" TItem="string" Value="@("PollConsul")" Label="PollConsul" />
                            <SelectOption TItemValue="string" TItem="string" Value="@("Eureka")" Label="Eureka" />
                        </SelectOptions>
                    </Select>
                </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="6">
                <FormItem Label="Token">
                    <Input @bind-Value="@context.ServiceDiscoveryProviderOptions.Token" Placeholder="请输入Token"></Input>
                </FormItem>
                </AntDesign.Col>
                 <AntDesign.Col Span="6">
                <FormItem Label="配置key">
                    <Input @bind-Value="@context.ServiceDiscoveryProviderOptions.ConfigurationKey" Placeholder="请输入配置key"></Input>
                </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="6">
                <FormItem Label="命名空间">
                    <Input @bind-Value="@context.ServiceDiscoveryProviderOptions.Namespace" Placeholder="请输入命名空间"></Input>
                </FormItem>
                </AntDesign.Col>
            </Row>
            <Row>
                <AntDesign.Col Span="6">
                <FormItem Label="轮询间隔">
                    <Input @bind-Value="@context.ServiceDiscoveryProviderOptions.PollingInterval" Placeholder="请输入轮询间隔"></Input>
                </FormItem>
                </AntDesign.Col>
            </Row>
        </Body>

    </Card>

    <Card Class="general-card">
        <TitleTemplate>
            <Icon Type="credit-card" Theme="outline" /> 断路器配置
        </TitleTemplate>
        <Body>
            <Row>
                <AntDesign.Col Span="6">
                <FormItem Label="启用/禁用">
                    <RadioGroup @bind-Value="@context.QoSOptions.Enabled">
                        <Radio Value="@(true)" TValue="bool?">启用</Radio>
                        <Radio Value="@(false)" TValue="bool?">禁用</Radio>
                    </RadioGroup>
                </FormItem>
                </AntDesign.Col>

                <AntDesign.Col Span="6">
                <FormItem Label="允许的例外数量">
                    <Input @bind-Value="@context.QoSOptions.ExceptionsAllowedBeforeBreaking" Placeholder="请输入允许的例外数量key"></Input>
                </FormItem>
                </AntDesign.Col>

                <AntDesign.Col Span="6">
                <FormItem Label="恢复时间间隔">
                    <Input @bind-Value="@context.QoSOptions.DurationOfBreak" Placeholder="请输入恢复时间间隔"></Input>
                </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="6">
                <FormItem Label="请求超时时间">
                    <Input @bind-Value="@context.QoSOptions.TimeoutValue" Placeholder="请输入请求超时时间"></Input>
                </FormItem>
                </AntDesign.Col>
            </Row>
        </Body>
    </Card>

    <Card Class="general-card">
        <TitleTemplate>
            <Icon Type="credit-card" Theme="outline" /> 限流配置
        </TitleTemplate>
        <Body>
            <Row>
                <AntDesign.Col Span="6">
                <FormItem Label="启用/禁用">
                    <RadioGroup @bind-Value="@context.RateLimitOptions.EnableRateLimiting">
                        <Radio Value="@(true)" TValue="bool?">启用</Radio>
                        <Radio Value="@(false)" TValue="bool?">禁用</Radio>
                    </RadioGroup>
                </FormItem>
                </AntDesign.Col>

                <AntDesign.Col Span="6">
                <FormItem Label="限流时间">
                    <Input @bind-Value="@context.RateLimitOptions.Period" Placeholder="请输入限流时间"></Input>
                </FormItem>
                </AntDesign.Col>

                <AntDesign.Col Span="6">
                <FormItem Label="重试时间">
                    <Input @bind-Value="@context.RateLimitOptions.PeriodTimespan" Placeholder="请输入重试时间"></Input>
                </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="6">
                <FormItem Label="最大请求数">
                    <Input @bind-Value="@context.RateLimitOptions.Limit" Placeholder="请输入最大请求数"></Input>
                </FormItem>
                </AntDesign.Col>
            </Row>
            <Row>
                <AntDesign.Col Span="6">
                <FormItem Label="白名单">
                    <Input @bind-Value="@context.RateLimitOptions.ClientWhitelist" Placeholder="请输入白名单"></Input>
                </FormItem>
                </AntDesign.Col>
            </Row>
        </Body>
    </Card>

    <Card Class="general-card">
        <TitleTemplate>
            <Icon Type="credit-card" Theme="outline" /> http处理
        </TitleTemplate>
        <Body>
            <Row>
                <AntDesign.Col Span="6">
                <FormItem Label="允许自定重定向">
                    <Switch @bind-Value="@context.HttpHandlerOptions.AllowAutoRedirect" Checked="false" CheckedChildren="开" UnCheckedChildren="关" />
                </FormItem>
                </AntDesign.Col>

                <AntDesign.Col Span="6">
                <FormItem Label="使用cookie容器">
                    <Switch @bind-Value="@context.HttpHandlerOptions.UseCookieContainer" Checked="false" CheckedChildren="开" UnCheckedChildren="关" />
                </FormItem>
                </AntDesign.Col>

                <AntDesign.Col Span="6">
                <FormItem Label="使用追踪">
                    <Switch @bind-Value="@context.HttpHandlerOptions.UseTracing" Checked="false" CheckedChildren="开" UnCheckedChildren="关" />
                </FormItem>
                </AntDesign.Col>

                <AntDesign.Col Span="6">
                <FormItem Label="使用代理">
                    <Switch @bind-Value="@context.HttpHandlerOptions.UseProxy" Checked="false" CheckedChildren="开" UnCheckedChildren="关" />
                </FormItem>
                </AntDesign.Col>
            </Row>
            <Row>
                <AntDesign.Col Span="6">
                <FormItem Label="服务最大连接数">
                    <Input @bind-Value="@context.HttpHandlerOptions.MaxConnectionsPerServer" Placeholder="请输入服务最大连接数"></Input>
                </FormItem>
                </AntDesign.Col>
            </Row>
        </Body>
    </Card>
    <Button Type="@ButtonType.Primary" @OnClick="OnSubmit">提交</Button>
</Form>


@using Hx.Gateway.Application.Services.GlobalConfiguration.Dtos;
@using Hx.Gateway.Application.Services.GlobalConfiguration;
@inject GlobalConfigurationService _globalConfigurationService
@inject NotificationService notice
@inject IJSRuntime jSRuntime
@inject NavigationManager navigationManager
@inject MessageService _message
@code {
    [Parameter]
    public string Id{ get; set; }
    GlobalConfigurationOutput _model;
    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Id) && Guid.TryParse(Id, out Guid _id))
        {
            _model = await _globalConfigurationService.GetByIdAsync(_id);
        }
        else
        {
            _model = new GlobalConfigurationOutput();
        }
        await base.OnInitializedAsync();
    }

    private async void OnSubmit(MouseEventArgs e)
    {
        var isEdit = !string.IsNullOrEmpty(Id) && Guid.TryParse(Id, out Guid _);
        try
        {
            if (isEdit)
            {
                await _globalConfigurationService.UpdateAsync(_model);
            }
            else
            {
                await _globalConfigurationService.AddAsync(_model);
            }
        }
        catch(Exception ex)
        {
           await _message.Error($"{(isEdit?"编辑失败":"添加失败")},{ex.Message}");
        }
    }
}
